@model HB5.VM.DetVM.PDetVM
@{
    ViewBag.Title = "Просмотр Совершонной Операции";
}
<div class="container">
    <form asp-action="PDet" asp-controller="Det">
        <div class="form-group">
            <input type="hidden" asp-for="idoper" value="@Model.idoper" />
            <label asp-for="p.Name" class="control-label">Название</label>
            <input type="text" asp-for="p.Name" class="form-control" disabled />
        </div>
        <div class="form-group">
            <label asp-for="NameAct" class="control-label">Действие</label>
            <input type="text" asp-for="NameAct" class="form-control" disabled />
        </div>
        <div class="form-group">
            <label asp-for="p.Data" class="control-label">Дата</label>
            <input type="datetime-local" asp-for="p.Data" class="form-control" disabled />
        </div>
        <div class="form-group">
            <label asp-for="p.Sum" class="control-label">Сумма</label>
            <input type="number" asp-for="p.Sum" class="form-control" disabled />
        </div>
        <div class="form-group">
            <label asp-for="p.Coment" class="control-label">Комент</label>
            <input type="text" asp-for="p.Coment" class="form-control" disabled />
        </div>
        <div class="form-group">
            <input type="submit" value=" Назад" class="btn btn-default" />
        </div>
    </form>
</div>
