@model HB5.VM.AddVM.OperAddVM
@{
    ViewBag.Title = "Добавление Операции";
}
<div class="container">
    <form asp-action="OperAdd" asp-controller="Add">
        <div class="form-group">
            <label asp-for="Name" class="control-label">Название</label>
            <input type="text" asp-for="Name" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="NameAct" class="control-label">Действие</label>
            <select asp-for="NameAct" class="form-control">
                <option value="расход">расход</option>
                <option value="доход">доход</option>
            </select>
        </div>
        <div class="form-group">
            <label asp-for="Sum" class="control-label">Сумма</label>
            <input type="number" asp-for="Sum" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Coment" class="control-label">Комент</label>
            <input type="text" asp-for="Coment" class="form-control" />
        </div>

        <div class="form-group">
            <input type="submit" value="Сохранить" class="btn btn-default" />
        </div>
    </form>
</div>
