@model HB5.Models.Operation
@{
    ViewBag.Title = "Удаление Операции";
}
<div class="container">
    <form asp-action="OperDel" asp-controller="Del">
        <input type="hidden" asp-for="PlanId" class="form-control" value="@Model.PlanId" />
        <div class="form-group">
            <label asp-for="Name" class="control-label">Название</label>
            <input type="text" asp-for="Name" class="form-control" disabled />
        </div>
        <div class="form-group">
            <label asp-for="NameAct" class="control-label">Действие</label>
            <select asp-for="NameAct" class="form-control" disabled>
                <option value="расход">расход</option>
                <option value="доход">доход</option>
            </select>
        </div>
        <div class="form-group">
            <label asp-for="Sum" class="control-label">Сумма</label>
            <input type="number" asp-for="Sum" class="form-control" disabled />
        </div>
        <div class="form-group">
            <label asp-for="SumP" class="control-label">Сумма</label>
            <input type="number" asp-for="SumP" class="form-control" disabled />
        </div>
        <div class="form-group">
            <label asp-for="Procent" class="control-label">Сумма</label>
            <input type="number" asp-for="Procent" class="form-control" disabled />
        </div>
        <div class="form-group">
            <label asp-for="Coment" class="control-label">Комент</label>
            <input type="text" asp-for="Coment" class="form-control" disabled />
        </div>

        <div class="form-group">
            <input type="submit" value="Удалить" class="btn btn-default" />
        </div>
    </form>
</div>
